.game {
    height: 100%;
    overflow: hidden;
}

.scrollContainer {
    min-height: 500px;
    background: linear-gradient(red, lightblue);
    position: relative;
    overflow: hidden;
}

.inverted {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.hit {
    -webkit-animation-name: hit-animation;
    -webkit-animation-duration: 0.3s;

    animation-name: hit-animation;
    animation-duration: 0.3s;
}

@-webkit-keyframes hit-animation {  
    from { filter: invert(100%); }
    to   { filter: default; }
}

@keyframes hit-animation {  
    from { filter: invert(100%); }
    to   { filter: default; }
}

.invulnerable {
    -webkit-animation-name: invulnerable-animation;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;

    animation-name: invulnerable-animation;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes invulnerable-animation {  
    from { filter: opacity(0.1); }
    to   { filter: default; }
}

@keyframes invulnerable-animation {  
    from { filter: opacity(0.1); }
    to   { filter: default; }
}

.gameOver {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 120px;
    margin-top: 185px;
    text-align: center;
    vertical-align: middle;
}