.player-summary {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.hit-points {
  font-family: apple color emoji, segoe ui emoji, noto color emoji,
    android emoji, emojisymbols, emojione mozilla, twemoji mozilla,
    segoe ui symbol;
}
