.player {
    background-image: url('../assets/player.png');
    background-position-x: -8px;
    position: absolute;
}

.with-gun {
    background-position-y: -38px;
}

.player-run-0 {
    background-position-x: 36px;
}

.player-run-1 {
    background-position-x: 70px;
}

.player-run-2 {
    background-position-x: 109px;
}

.player-run-3 {
    background-position-x: 147px;
}

.player-run-4 {
    background-position-x: 182px;
}

.player-run-5 {
    background-position-x: 223px;
}

.player-run-6 {
    background-position-x: 260px;
}

.player-run-7 {
    background-position-x: 297px;
}

.jumping-up {
    background-position-x: 298px;
    background-position-y: -76px;
}

.jumping-apex {
    background-position-x: 263px;
    background-position-y: -76px;
}

.jumping-down {
    background-position-x: 226px;
    background-position-y: -76px;
}

.jumping-up.with-gun {
    background-position-x: 186px;
}

.jumping-apex.with-gun {
    background-position-x: 147px;
}

.jumping-down.with-gun {
    background-position-x: 109px;
}

.inverted {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}